@page
@model TheUltimatePizzaApp.Pages.Cart.CheckoutModel
@{
	ViewData["Title"] = "Checkout";
}
}
<div class="container py-5">
	<h2 class="text-center py-2">Your Order!</h2>

	@{
		var photoPath = "~/images/" + (@Model.ImageTitle + ".png");
	}
	<div class="align-content-center">
		<div class="col-3 mx-auto mb-5 card">
			<img class="card-img-top rounded" src="@photoPath" class="w-100" asp-append-version="true" />
			<div class="card-body card--body">
				<div class="card-text">
					Your order for <span class="text-info fw-bold">@Model.PizzaName</span> Pizza is ready!
					<p class="pt-2">
						Total Purchase price for your Order is:
						<span class="text-info fw-bold">@Model.PizzaPrice.ToString("c")</span>
					</p>
					<br />
				</div>
				<button type="button" class="btn btn-primary ">Pay Now</button>
			</div>
		</div>
	</div>

</div>
