@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container py-5">  

    
    <h2>@ViewData["Title"] for <span class="fw-bold">The Best Ordering App</span></h2>
        

    <p class="text-info">Effective Date: 22/02/2023</p> 

    <p>Thank you for using our The Ultimate Best Web App. At Ultimate Pizza™, we take your privacy seriously and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and disclose information when you use our App.
    </p>
   <p>Information We Collect: <span class="text-info fw-bold">None</span></p>
</div>
